<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Remote Read</title>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <!-- <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/> -->


  <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/hover-css.css"  />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->


</head>
<body>

  <header>
    <h1><a class="title" href="/">Remote Read</a></h1>
    <h2>Digital Book Club</h2>
  </header>
  <div id="layer">
    <div class ='add-new-area'>
      <a href='/books/new'>+Add Book</a>
    </div>
  <div class ='post-area'>
    <div class = 'all-posts'>
    <% books.forEach((each) => { %>
      <div class = 'each-post'>
        <div class='each-photo'>
          <a href = '/books/<%= each.id %>'>
            <img src='<%= each.img_url %>' alt= '<%= each.title %>'>
          </a>
        </div>
        <div class='each-text'>
          <a href = '/books/<%= each.id %>' class='title-href'>
            <h2><%= each.title %></h2>
          </a>
          <p><%= each.author %></p>
          <p>&#9734 Rating: <%= each.rating %></p>
          <div class='book-description'>
            <p><%= each.book_description %></p>
            <br>
          </div>
          <p>Comments:<span> <%= each.num_comments %></span></p>
        </div>
      </div>
    <% }) %>
    </div>
  </div>
  <footer>
    <h3> &#9829  Alessa </h3>
  </footer>
</div>
</body>
</html>
