<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Almendra+Display|Bungee+Outline|Codystar:300|Coming+Soon|Faster+One|Homemade+Apple||Monofett|Montserrat|" rel="stylesheet">
  <link rel="stylesheet" href="/css/show.css">
  <script src= '/js/show.js'></script>
</head>
<body>
  <div class ='back'>
      <a href='/books/'> &#8592 Back to all books</a>
    </div>
  <div class = 'each-post'>
      <div class ='book-post'>
        <div class='each-photo'>
            <img src='<%= books.img_url %>' alt= '<%= books.title %>'>
        </div>
        <div class='each-text'>
          <h2><%= books.title %></h2>

          <p><%= books.author %></p>
          <p>&#9734 Rating: <%= books.rating %></p>
          <p class ='italic'><%= books.book_description %></p>
          <br>

          <div class ='edit-delete'>
            <form action="/books/<%= books.id %>/edit" method="GET">
              <input class = 'edit-button' type="submit" value="&#9998">
            </form>
            <form action="/books/<%= books.id %>?_method=DELETE" method="POST">
              <input class ='delete-button' type="submit" value="&#10006">
            </form>
          </div>

        </div>
      </div>

        <div class="comment-area">
          <div class = "add-comment">
            <form action="/comments" method="POST">
              <h4>Add Comment:</h4>
              <label for="name">Name to display with comment:</label><br>
              <input type="text" name="comments[username]"><br><br>
              <label for="rating">Rating:</label>
              <select name="comments[rating]">
                <option value="0">0</option>
                <option value="1">&#9734</option>
                <option value="2">&#9734 &#9734</option>
                <option value="3">&#9734 &#9734 &#9734</option>
                <option value="4">&#9734 &#9734 &#9734 &#9734</option>
                <option value="5">&#9734 &#9734 &#9734 &#9734 &#9734</option>
              </select><br><br>
              <textarea name="comments[review]" placeholder="write review (optional)"></textarea><br>
              <input type="hidden" name="comments[post_id]" value="<%= books.id %>">
              <input class='button' type="submit" value ="Add Comment">
            </form>
          </div>
          <div class = "comments">
            <h3>Comments:</h3>
            <div class='all-comments'>
              <% comments.forEach((each) => { %>
                <div class = 'comment-alpha'>
                  <h4> <%= each.username %></h4>
                  <p>&#9734 Rating: <%= each.rating %></p>
                  <p> <%- each.review %></p>
                  <p>LIKES: <%= each.likes %></p>

                <div class ='comment-options'>
                  <form action="/comments/<%= each.id %>?_method=DELETE&post_id=<%= each.post_id %>" method="POST">
                    <input class="button" type="submit" value="Delete Comment">
                  </form>

                  <div class ='like-and-reply'>
                    <form method="POST" action="/comments/like/<%= each.post_id %>/<%= each.id %>?_method=PUT">
                      <input class="button" type="submit" value="LIKE">
                    </form>
                    <button class ='dom-reply button'>Reply</button>
                  </div>
                  </div>

                  <div class = 'comments-and-add'>
                    <div class = 'add-reply'>
                      <form method="POST" action="/subcomments">
                        <h5>Reply to Comment</h5>
                        <label for="username">Name for reply:</label><br>
                        <input type="text" name="sub[username]"><br>
                        <label for="reply">Reply:</label><br>
                        <input class = 'reply-field' type="text" name="sub[reply]"><br>
                        <input type="hidden" name="sub[comment_id]" value="<%= each.id %>">
                        <input type="hidden" name="sub[post_id]" value="<%= books.id %>">

                        <input class = 'submit-reply' type="submit" value="submit">
                      </form>
                    </div>

                    <% each.subcomments.forEach((subeach) => { %>

                      <div class='comment-beta'>
                        <h5> <%= subeach.username %></h5>
                        <p class ='italic'> <%= subeach.reply %></p>
                        <form method="POST" action="/subcomments/<%= subeach.id %>?_method=DELETE">
                          <input class="subcomment-delete" type="submit" value="Delete">
                        </form>
                      </div>

                   <% }) %>
                  </div>
                </div>
              <% }) %>

            </div>
          </div>

        </div>

      </div>
</body>
</html>






