<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <div class = 'each-post'>
        <div class='each-photo'>
            <img src='<%= books.img_url %>' alt= '<%= books.title %>'>
        </div>

        <h2><%= books.title %></h2>

        <p><%= books.author %></p>
        <p>&#9734 Rating: <%= books.rating %></p>
        <p><%= books.book_description %></p>
        <br>

        <form action="/books/<%= books.id %>/edit" method="GET">
          <input type="submit" value="&#9998">
        </form>
        <form action="/books/<%= books.id %>?_method=DELETE" method="POST">
          <input type="submit" value="&#10006">
        </form>

        <div class="comment-area">

          <form action="/comments" method="POST">
            <h4>Add Comment:</h4>
            <label for="name">Name to display with comment:</label><br>
            <input type="text" name="comments[username]"><br><br>
            <label for="rating">Rating:</label>
            <select name="comments[rating]">
              <option value="0">0</option>
              <option value="1">&#9734</option>
              <option value="2">&#9734 &#9734</option>
              <option value="3">&#9734 &#9734 &#9734</option>
              <option value="4">&#9734 &#9734 &#9734 &#9734</option>
              <option value="5">&#9734 &#9734 &#9734 &#9734 &#9734</option>
            </select><br><br>
            <textarea name="comments[review]" placeholder="write review (optional)"></textarea><br>
            <input type="hidden" name="comments[post_id]" value="<%= books.id %>">
            <input type="submit" value ="Add Comment">
          </form>

          <h3>Comments:</h3>
          <div class='all-comments'>
            <% comments.forEach((each) => { %>
                <h4> <%= each.username %></h4>
                <p>&#9734 Rating: <%= each.rating %></p>
                <p> <%- each.review %></p>
                <p>LIKES: <%= each.likes %></p>

                <form action="/comments/<%= each.id %>?_method=DELETE" method="POST">
                  <input type="submit" value="Delete Comment">
                </form>


                <form method="POST" action="/comments/like/<%= each.post_id %>/<%= each.id %>?_method=PUT">
                  <input type="submit" value="LIKE">
                </form>
            <% }) %>

          </div>


        </div>


      </div>
</body>
</html>






