<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Remote Reader</title>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>
  <script src= '/js/show.js'></script>
</head>

<body>
  <% include ../partials/nav %>
  <header>
    <h1>Remote Reader</h1>
    <h2>Digital Book Club</h2>
  </header>
  <div class ='add-new-area'>
      <a href='/groups/<%= books.group_id %>'> &#8592 Back to group</a>
  </div>
  <div class="show-book-main">
    <div class = 'each-book'>
        <div class ='book-details'>
          <div class='book-photo'>
              <img src='<%= books.img_url %>' alt= '<%= books.title %>'>
          </div>
          <div class='book-text'>
            <h2><%= books.title %></h2>

            <p><%= books.author %></p>
            <p>&#9734 Rating: <%= books.rating %></p>
            <p class ='italic'><%= books.book_description %></p>
            <br>
          </div>
          <div class ='edit-delete'>
              <form action="/books/<%= books.id %>/edit" method="GET">
                <input class = 'edit-button' type="submit" value="&#9998">
              </form>
              <form action="/books/<%= books.group_id %>/<%= books.id %>?_method=DELETE" method="POST">
                <input class ='delete-button' type="submit" value="&#10006">
              </form>
          </div>
        </div>

        <div class="comment-area">
          <div class = "add-comment">
            <form action="/comments" method="POST">
              <h3>Add Comment:</h3>

              <label for="rating">Rating:</label>
              <select name="comments[rating]">
                <option value="0">0</option>
                <option value="1">&#9734</option>
                <option value="2">&#9734 &#9734</option>
                <option value="3">&#9734 &#9734 &#9734</option>
                <option value="4">&#9734 &#9734 &#9734 &#9734</option>
                <option value="5">&#9734 &#9734 &#9734 &#9734 &#9734</option>
              </select><br><br>
              <textarea name="comments[review]" placeholder="write review (optional)"></textarea><br>
              <input type="hidden" name="comments[post_id]" value="<%= books.id %>">
              <input type="hidden" name="comments[user_id]" value="<%= user_id %>">
              <input class='button' type="submit" value ="Add Comment">
            </form>
          </div>
          <div class = "comments">
            <h3>Comments:</h3>
            <div class='all-comments'>
              <% comments.forEach((each) => { %>
                <div class = 'comment-alpha'>
                  <h4> user <%= each.user_id %> says, </h4>
                  <p>&#9734 Rating: <%= each.rating %></p>
                  <p> <%- each.review %></p>
                  <p>LIKES: <%= each.likes %></p>

                <div class ='comment-options'>
                  <form action="/comments/<%= each.id %>?_method=DELETE&post_id=<%= each.post_id %>" method="POST">
                    <input class="button" type="submit" value="Delete Comment">
                  </form>

                  <div class ='like-and-reply'>
                    <form method="POST" action="/comments/like/<%= each.post_id %>/<%= each.id %>?_method=PUT">
                      <input class="button" type="submit" value="LIKE">
                    </form>
                    <button class ='dom-reply button' data='<%= each.id %>'>Reply</button>
                  </div>
                  </div>

                  <div class = 'replies'>
                    <div class = 'add-reply' id='<%= each.id %>'>
                      <form method="POST" action="/subcomments">
                        <h3>Reply to Comment</h3>
                        <label for="reply">Reply:</label><br>
                        <input class = 'reply-field' type="text" name="sub[reply]"><br>
                        <input type="hidden" name="sub[comment_id]" value="<%= each.id %>">
                        <input type="hidden" name="sub[post_id]" value="<%= books.id %>">
                        <input type="hidden" name="sub[user_id]" value="<%= user_id %>">

                        <input class = 'submit-reply' type="submit" value="submit">
                      </form>
                    </div>
                    <div class ="subcomment-area">

                      <% each.subcomments.forEach((subeach) => { %>

                        <div class='comment-beta'>
                          <h5> reply from <%= subeach.user_id %>:</h5>
                          <p class ='italic'> <%= subeach.reply %></p>
                          <form method="POST" action="/subcomments/<%= subeach.id %>?_method=DELETE">
                            <input class="subcomment-delete" type="submit" value="Delete">
                          </form>
                        </div>
                     <% }) %>

                   </div>
                  </div>
                </div>
              <% }) %>

            </div>
          </div>

        </div>

    </div>
  </div>
</body>
</html>






