<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Browse Groups</title>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>
  <script src= '/js/app.js'></script>
</head>

<body>
<% include ../partials/nav %>
  <header>
    <h1><a class="title" href="/">Remote Reader</a></h1>
    <h2>Digital Book Club</h2>
  </header>

  <div class ='add-new-area'>
    <a href='/groups/new'>+Add Group</a>
  </div>
  <div class="allGroups-main">
    <div class="all-posts">
      <h3 id="mygroups">Book Club Groups</h3>
      <div class = 'show-groups'>
        <% groups.forEach((group) => { %>
          <div class="group-area">
            <h1><%= group.group_name %></h1>
            <p><%= group.group_description %></p>
            <form method="POST" action="/users/<%= user.id %>/groups/<%= group.id %>">
              <input type="hidden" value="<%= group.id %>" >
              <button type="submit">Join</button>
            </form>
          </div>

        <% }) %>
      </div>
    </div>
  </div>
</body>
</html>
