<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Remote Reader</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/style.css"  media="screen,projection"/>
    <script src= '/js/app.js'></script>
</head>

<body>
  <% include ../partials/nav %>
  <header>
    <h1>Remote Reader</h1>
    <h2>Digital Book Club</h2>
  </header>
  <div class ='add-new-area'>
    <a href="/books/new/<%= group_id %>">+Add Book</a>
  </div>
  <div class ='post-area'>
    <div class = 'all-posts'>
    <h3>Book Selections</h3>
    <% books.forEach((each) => { %>
      <div class = 'each-post'>
        <div class='each-photo'>
          <a href = '/books/<%= each.id %>'>
            <img src='<%= each.img_url %>' alt= '<%= each.title %>'>
          </a>
        </div>
        <div class='each-text'>
          <a href = '/books/<%= each.id %>' class='title-href'>
            <h2><%= each.title %></h2>
          </a>
          <p><%= each.author %></p>
          <p>&#9734 Rating: <%= each.rating %></p>
          <div class='book-description'>
            <p><%= each.book_description %></p>
            <br>
          </div>
          <p>Comments:<span> <%= each.num_comments %></span></p>
        </div>
      </div>
    <% }) %>
    </div>
  </div>

</body>
</html>
